@using global::NetDaemon.HassModel
@using global::NetDaemon.HassModel.Entities
@using Homer.NetDaemon.Entities

@implements IDisposable

<span>总电： @_powerConsumption?.ToString("F1") 瓦</span>

@code {

    [Inject] public SensorEntities Sensors { get; set; } = null!;

    private double? _powerConsumption;
    private List<NumericSensorEntity>? _powerSensors;
    private readonly List<IDisposable> _disposables = [];

    protected override void OnInitialized()
    {
        _powerSensors =
        [
            Sensors.Bedroom3IkeaPlugPower,
            Sensors.Bedroom4IkeaPlugPower,
            Sensors.KitchenIkeaPlugPower,
            Sensors.WaterHeaterSwitchPower,
            Sensors.LivingRoomIkeaPlugPower,
            Sensors.MasterBedroomIkeaPlugPower
        ];

        _powerConsumption = _powerSensors.Sum(e => e.State);
        _disposables.Add(_powerSensors.StateAllChanges().SubscribeAsync(async _ =>
        {
            await InvokeAsync(() =>
            {
                _powerConsumption = _powerSensors.Sum(e => e.State);
                StateHasChanged();
            });
        }));
    }

    public void Dispose()
    {
        _disposables.ForEach(e => e.Dispose());
    }

}