@using System.Reactive.Linq
@using Homer.NetDaemon.Services
@inject ApiObservableFactoryService Factory
@rendermode InteractiveServer
@implements IDisposable

<h2>
    @_forecast
</h2>

@code {
    private List<IDisposable> _disposables = [];
    private string _forecast = "";
 
    protected override void OnInitialized()
    {
        if (RendererInfo.IsInteractive)
        {
            _disposables.Add(
                Factory.CreateForecast()
                    .Select(f => Homer.NetDaemon.Services.OpenMeteo.OpenMeteoWmoMapper.GetWeatherDescription(f.Current.WeatherCode))
                    .Subscribe(forecast =>
                    {
                        InvokeAsync(() =>
                        {
                            _forecast = forecast;
                            StateHasChanged();
                        });
                    })
            );
        }
 
        base.OnInitialized();
    }
 
    public void Dispose()
    {
        _disposables.ForEach(e => e.Dispose());
    }
 
}