@using System.Reactive.Linq
@using Homer.NetDaemon.Services
@using R3
@inject DataMallObservableFactoryService Factory
@implements IDisposable

<Stack style="height: calc(100vh / 2.5)" class="p-2 gap-1">
  <StackItem>
    <h4 style="font-weight: 500;">
      巴士时间表
    </h4>
  </StackItem>

  <StackItem>
    <Stack IsRow="true" Justify="StackJustifyContent.Between">
      @foreach (var (c, timings) in _items)
      {
        <StackItem>
          <Tag Color="Color.Primary">
            @c
          </Tag>
        </StackItem>
        <StackItem>
          @foreach (var timing in timings.Where(t => t.HasValue))
          {
            <span>@((timing - DateTime.Now)!.Value.TotalMinutes.ToString("N0"))分钟 </span>
          }
        </StackItem>
      }
    </Stack>
  </StackItem>
</Stack>

@code {
  private List<IDisposable> _disposables = [];
  private Dictionary<string, List<DateTime?>> _items = [];

  protected override void OnInitialized()
  {
    if (RendererInfo.IsInteractive)
    {
      Factory.CreateWithBusStopCode("53299")
        .Select(v => v.Services.First(s => s.ServiceNo == "162"))
        .Subscribe(s =>
        {
          _items["162"] = [s.NextBus.EstimatedArrival, s.NextBus2.EstimatedArrival, s.NextBus3.EstimatedArrival];
          InvokeAsync(StateHasChanged);
        });
    }

    base.OnInitialized();
  }

  public void Dispose()
  {
    _disposables.ForEach(e => e.Dispose());
  }

}
