@using System.Text.Json
@using global::NetDaemon.HassModel
@using Homer.NetDaemon.Entities
@inject InputTextEntities InputTextEntities
@rendermode InteractiveServer

<div class="d-flex flex-column h-100 gap-2 w-100">
    <div class="d-flex justify-content-around gap-2" style="flex: 1;">
        @foreach (var blind in Blinds.Select((b, idx) => new { Value = b, Index = idx }))
        {
            <div class="d-flex flex-column gap-1" style="flex: 1;">
                <button style="flex: 1;" class="border-0 rounded-3 shadow-sm" @onclick="Down(blind.Index, 0)">
                    <BootstrapBlazorIcon Name="fa-solid fa-chevron-up fs-3"></BootstrapBlazorIcon>
                </button>

                @for (var i = 0; i < blind.Value; i++)
                {
                    <button style="flex: 1;" class="border-0 rounded-3 bg-warning shadow-sm"
                            @onclick="Down(blind.Index, i+1)"></button>
                }

                @for (var i = 3; i > blind.Value; i--)
                {
                    <button style="flex: 1;" class="border-0 rounded-3 shadow-sm bg-white"
                            @onclick="Down(blind.Index, blind.Value + (4-i))"></button>
                }
            </div>
        }
    </div>

    <div class="d-flex justify-content-around gap-2 mt-auto" style="height: 40px;">
        <button style="flex: 1;" class="border-0 rounded-3 shadow-sm bg-white" @onclick="AllUp">
            <BootstrapBlazorIcon Name="fa-solid fa-chevron-up fs-4"></BootstrapBlazorIcon>
        </button>

        <button style="flex: 1;" class="border-0 rounded-3 shadow-sm bg-white" @onclick="AllDown">
            <BootstrapBlazorIcon Name="fa-solid fa-chevron-down fs-4"></BootstrapBlazorIcon>
        </button>
    </div>
</div>

@code {

    private List<int> Blinds => JsonSerializer.Deserialize<List<int>>(InputTextEntities.BalconyBlindsState.State);

    protected override async Task OnInitializedAsync()
    {
        InputTextEntities.BalconyBlindsState.StateChanges().SubscribeAsync(async _ => { await InvokeAsync(StateHasChanged); });
    }

    Action<MouseEventArgs> Down(int blind, int pos)
    {
        return (_) =>
        {
            var clone = new List<int>(Blinds)
            {
                [blind] = pos
            };
            
            InputTextEntities.BalconyBlindsState.SetValue(JsonSerializer.Serialize(clone));
        };
    }

    void AllUp()
    {
        InputTextEntities.BalconyBlindsState.SetValue("[0, 0, 0]");
    }

    void AllDown()
    {
        InputTextEntities.BalconyBlindsState.SetValue("[3, 3, 3]");
    }

}