@using System.Reactive.Linq
@using global::NetDaemon.HassModel.Entities
@using Homer.NetDaemon.Entities
@using Homer.NetDaemon.Services

@rendermode InteractiveServer
@implements IDisposable

<div class="d-flex flex-column justify-content-center align-items-center bg-white rounded-3 p-3" style="flex: 1;">
    @if (Switches.WaterHeaterSwitch.IsOn())
    {
        <span class="fs-1 text-danger fw-bold">开</span>
        <span class="fs-6 text-muted">热水器</span>
        @if (RemainingTime is { } remainingTime)
        {
            <span class="fs-4 text-danger mt-2">
                @(((int)remainingTime.TotalMinutes).ToString("D2")):@(remainingTime.Seconds.ToString("D2"))
            </span>
            <span class="fs-6 text-muted">倒计时</span>
        }
    }
    else
    {
        <span class="fs-1 text-secondary">关</span>
        <span class="fs-6 text-muted">热水器</span>
    }
    
    @if (WaterHeaterTimerService.LastTurnedOnDateTime is not null)
    {
        <span class="fs-6 text-muted mt-2">上次开启:</span>
        <span class="fs-6">@WaterHeaterTimerService.LastTurnedOnDateTime.Value.ToLocalTime().ToString("HH:mm")</span>
    }
</div>

@code {

    [Inject] public SwitchEntities Switches { get; set; } = null!;
    [Inject] public WaterHeaterTimerService WaterHeaterTimerService { get; set; } = null!;

    private readonly List<IDisposable> _disposables = [];

    protected override void OnInitialized()
    {
        _disposables.Add(Switches.WaterHeaterSwitch.StateAllChanges().Subscribe(_ => InvokeAsync(StateHasChanged)));
        _disposables.Add(
            Observable.Interval(TimeSpan.FromSeconds(1))
                .Subscribe(_ => InvokeAsync(StateHasChanged))
        );
    }

    public void Dispose()
    {
        _disposables.ForEach(e => e.Dispose());
    }

    private TimeSpan? RemainingTime
    {
        get
        {
            if (WaterHeaterTimerService.ScheduledTurnOffDateTime is not { } scheduledTurnOffDateTime)
            {
                return null;
            }

            var remainingTime = scheduledTurnOffDateTime - DateTime.UtcNow;
            return remainingTime > TimeSpan.Zero ? remainingTime : null;
        }
    }

}
