@using global::NetDaemon.HassModel
@using global::NetDaemon.HassModel.Entities
@using Homer.NetDaemon.Entities
@inject SwitchEntities Switches
@inject InputBooleanEntities InputBooleanEntities
@implements IDisposable

@* Container *@
<div class="d-flex flex-column gap-2 m-1 mx-2" style="font-family: Noto Sans SC, sans-serif;">
    <HomeSlide1TopBar></HomeSlide1TopBar>

    <div class="d-flex gap-2">
        <div class="card" style="flex: 1">
            <div class="card-body">
                <h4 class="fw-semibold" style="margin-bottom: 30px">开关</h4>
                <div class="d-flex justify-content-around">
                    <HomeSlide1PowerButton Switch="Switches.BalconyLights" Name="阳台灯"/>
                    <HomeSlide1PowerButton Switch="Switches.Daikinap59921None" Name="空调一"/>
                    <HomeSlide1PowerButton Switch="Switches.Daikinap16703None" Name="空调二"/>
                </div>
            </div>
        </div>

        <div class="card" style="flex: 1">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="fw-semibold" style="margin-bottom: 30px">热水器</h4>
                </div>
                <div class="d-flex gap-4">
                    <HomeSlide1WaterHeater/>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex gap-2">
        <div class="card" style="flex: 1">
            <div class="card-body">
                <h4 class="fw-semibold" style="margin-bottom: 30px">巴士</h4>
                <HomeSlide1BusTimings></HomeSlide1BusTimings>
            </div>
        </div>

        <div class="card" style="flex: 1">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h4 class="fw-semibold" style="margin-bottom: 30px">天气</h4>
                </div>
                <div class="d-flex gap-4">
                    <HomeSlide1Weather/>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex gap-2 mt-1">
        <BootstrapBlazorIcon Name=" @($"fs-1 fa-solid fa-restroom {(InputBooleanEntities.BathroomPresence.IsOff() ?  "text-success" : "text-danger")}")"></BootstrapBlazorIcon>
    </div>

</div>

@code {
    private IDisposable? _disposable;

    protected override void OnInitialized()
    {
        _disposable = InputBooleanEntities.BathroomPresence.StateChanges().SubscribeAsync(async _ =>
        {
            await InvokeAsync(StateHasChanged);
        });
    }

    public void Dispose()
    {
        _disposable?.Dispose();
    }
}

