@page "/"
@using global::NetDaemon.HassModel
@using global::NetDaemon.HassModel.Entities
@using Homer.NetDaemon.Entities
@rendermode InteractiveServer

@code {
  [Inject] public IHaContext HaContext { get; set; } = null!;
  [Inject] public Entities Entities { get; set; } = null!;

  protected override void OnInitialized()
  {
    HaContext.StateAllChanges().SubscribeAsync(_ => InvokeAsync(StateHasChanged));
  }

}

<PageTitle>Home</PageTitle>

<div class="d-flex flex-column gap-4">
  <VerticalSwitch
    @onclick="_ => Entities.Switch.HallwayIkeaPlug.Toggle()"
    checked="@Entities.Switch.HallwayIkeaPlug.IsOn()"
  />
  <p class="text-center">Hallway</p>
</div>
