@page "/"
@using Homer.NetDaemon.Options
@using Microsoft.Extensions.Options
@using Homer.NetDaemon.Components.Components

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

@if (GoogleHomeDashboardOptions.Value.Secret != Secret)
{
  <span class="p-2">Nothing here!</span>
}
else
{
  <Carousel ShowControls="true" ShowIndicators="true" Width="100%">
    <CarouselItem>
      <HomeSlide1/>
    </CarouselItem>

    <CarouselItem>
      <HomeSlide2/>
    </CarouselItem>
  </Carousel>
}

@code {

  [SupplyParameterFromQuery] private string Secret { get; set; } = null!;
  [Inject] public IOptions<GoogleHomeDashboardOptions> GoogleHomeDashboardOptions { get; set; } = null!;

}
