@page "/"
@using global::NetDaemon.HassModel
@using global::NetDaemon.HassModel.Entities
@using Homer.NetDaemon.Entities
@using Homer.NetDaemon.Options
@using Microsoft.Extensions.Options
@using Homer.NetDaemon.Components.Components
@inject SwitchEntities Switches
@inject InputBooleanEntities InputBooleanEntities
@implements IDisposable

<PageTitle>Home</PageTitle>

@if (GoogleHomeDashboardOptions.Value.Secret != Secret)
{
    <span class="p-2">Nothing here!</span>
}
else
{
    <div class="px-2" style="font-family: Noto Sans SC, sans-serif;">
        <div class="row">
            <HomeTopBar></HomeTopBar>
        </div>

        <div class="row gap-2">
            <div class="card col-12 col-md-6">
                <div class="card-body">
                    <h6 class="fw-semibold" style="margin-bottom: 15px">开关</h6>
                    <div class="d-flex gap-3">
                        <HomePowerButton SwitchId="@Switches.BalconyLights.EntityId" Name="阳台灯"/>
                        <HomePowerButton SwitchId="@Switches.Daikinap59921None.EntityId" Name="空调一"/>
                        <HomePowerButton SwitchId="@Switches.Daikinap16703None.EntityId" Name="空调二"/>
                    </div>
                </div>
            </div>

            <div class="card col">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="fw-semibold" style="margin-bottom: 30px">热水器</h6>
                    </div>
                    <div class="d-flex gap-4">
                        <HomeWaterHeater/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gap-2">
            <div class="card col-12 col-md-6">
                <div class="card-body">
                    <h6 class="fw-semibold" style="margin-bottom: 30px">巴士</h6>
                    <HomeBusTimings ></HomeBusTimings>
                </div>
            </div>

            <div class="card col">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h6 class="fw-semibold" style="margin-bottom: 30px">天气</h6>
                    </div>
                    <div class="d-flex gap-4">
                        <HomeWeather/>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex gap-2 mt-1">
            <BootstrapBlazorIcon Name="@IconName"></BootstrapBlazorIcon>
        </div>

    </div>
}

@code {

    [SupplyParameterFromQuery] private string Secret { get; set; } = null!;
    [Inject] public IOptions<GoogleHomeDashboardOptions> GoogleHomeDashboardOptions { get; set; } = null!;

    private IDisposable? _disposable;

    private string IconName => $"fs-1 fa-solid fa-restroom {(InputBooleanEntities.BathroomPresence.IsOff() ? "text-success" : "text-danger")}";

    protected override void OnInitialized()
    {
        _disposable = InputBooleanEntities.BathroomPresence.StateChanges().SubscribeAsync(async _ => { await InvokeAsync(StateHasChanged); });
    }

    public void Dispose()
    {
        _disposable?.Dispose();
    }

}
