@page "/"
@using Homer.NetDaemon.Options
@using Microsoft.Extensions.Options
@using Homer.NetDaemon.Components.Components

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

@if (GoogleHomeDashboardOptions.Value.Secret != Secret)
{
    <span class="p-2">Nothing here!</span>
}
else
{
    <HomeSlide1/>
}

@code {

    [SupplyParameterFromQuery] private string Secret { get; set; } = null!;
    [Inject] public IOptions<GoogleHomeDashboardOptions> GoogleHomeDashboardOptions { get; set; } = null!;

}
